.dialog{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6)
}
.ipt {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 300px;
  margin-left:-100px;
  margin-top:-150px;
  background-color: #fff;
  border-radius: 4px;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #000;
  background:#fff;
}
.btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: #000;
}
input{
  margin-top:20px;
  height:25px;
}
.form{
  margin:30px 55px;
  display: flex;
  flex-direction: column;
  
}
button{
  width: 80px;
  height: 30px;
  margin-top:20px;
}