.switch-top{
    margin:40px;
}
.switch-wrap{
    position: relative;
    margin-left: 50px;
    width: 60px;
    height: 30px;
}
.switch-bar{
    width: 60px;
    height: 30px;
    border-radius: 30px;
    border:1px solid;
}

.switch{
    position: absolute;
    right: 0;
    bottom:0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid;
    transform: translateX(0)
}

.green{
    background: rgb(69, 221, 69);
    border:1px solid #bbb;
}
.gray{
    border:1px solid #bbb;
}
.white{
    background: #fff;
    border:1px solid rgb(69, 221, 69);
    transform: translateX(-30px)
}