.button-box-left{
    float: left;
}
.button-box-right{
    float: right;
}
.button-box-wrap{
    overflow: hidden;
    height: 50px;
}

.ant-pagination{
    display: none;
}

.Red{
    color:red;
    font-weight: bold;
}
.Orange{
    color:orange;
    font-weight: bold;
}

.search-bar{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}


.basicmsg{
    text-align: center;
    color:rgb(110, 108, 108);
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}