.button-box-left{
    float: left;color:#000;
   
}
.button-box-right{
    float: right;color:#000;
}
.button-box-wrap{
    overflow: hidden;
    height: 50px;
    color:#000;
}


p{
    color:rgba(0, 0, 0, 0.65);
    font-weight: bold;
}
.p2{
    margin-top:20px;
}
.ant-pagination{
    display: none;
}

td{
    border:1px solid #ccc;
}
th {
    border:1px solid #bbb;
}

.Red{
    color:red;
    font-weight: bold;
}
.Orange{
    color:orange;
    font-weight: bold;
}