.progress-wrap{
    margin:40px auto;
    position: relative;
}
.progress-top{
    margin:40px;
}
p{
    font-size:18px;
    color:#000;
}

.weui_progress_bar{
    border:1px solid gray;
    height: 10px;
    margin:30px 80px 30px 30px;
}
.weui_progress_inner_bar{
    border:5px solid green;
    animation:progress 5s ease-in;
}
@keyframes progress{
    0%{
        width: 0%;
    }
    100%{
        width:100%;
    }
}





.hideProgress{
    opacity: 0;
}



button{
    width:60%;;
    height: 50px;
    margin-left:20%;
    border-radius: 5px;
    background: green;
    border:1px solid green;
    font-size: 18px;
    color: #fff;
} 