*{margin:0;padding:0}

.wrap{
    margin:40px auto;
    position: relative;
}
.wrap .nav{
    text-align: center;
    height:50px;
    line-height: 50px;
    border:1px solid #ccc;
    border-radius: 5px;
    background:#eee;
    margin-top:10px;
    color:#000;
    font-size:18px;
}
.top{
    margin:40px;
}
p{
    font-size:18px;
    color:#000;
}
.mask{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    transform: translateY(100%)
}
.showMask{
    transform: translateY(0)
}
.hideMask{
    opacity: 0;
}


.menu{
    position: fixed;
    left:0;
    right: 0;
    bottom: 0;
    background: #eee;
    font-size: 18px;
    color: #000;
    transition: transfrom .3s linear;
    transform: translateY(100%);
}
.menuAndriod{
    width: 40%;
    position: fixed;
    left:30%;
    right: 50%;
    bottom: 50%;
    background: #eee;
    font-size: 18px;
    color: #000;
    transition: transfrom .3s linear;
    transform: translateY(100%);
}
.showMenu{
    transform: translateY(0);
}
.hideMenu{
    opacity: 0;
}

.title{
    background: #fff;
    padding:15px 10px;
    text-align: center;
    color: #a1a1a1;
    font-size:16px;
}
.btn{
    background: #fff;
    padding:10px;
    text-align: center;
}
.btn-andriod{
    position: absolute;
    top:50%;
    text-align: left;
    text-indent: 10px;

}

.divider {
    position: relative;
}
.divider:after{
    position: absolute;
    content: '';
    height: 1px;
    bottom:0;
    left: 0;
    right: 0;
    background: #e5e5e5;
    transform: scaleY(0.5) 
}
.btn-concle{
    position: relative;
    margin-top:5px;
    background: #fff;
    padding:10px;
    text-align: center;
}