body{
    background: #eee;
}
.wrap{
    padding: 10px;
}
h4{
    color:gray;
    font-weight: bold;
}
.Review-chose{
    display: flex;
    justify-content: space-between;
    padding:10px 10px 5px 10px;
    vertical-align: middle;
    border:1px solid #bbb; 
    margin-top:10px;
    background: #fff;
    color:#000;
}
