/* eslint-disable */
/* 游戏区域 */
.game_container {
    position: relative;
    margin-top: 80px;
    background: #bbada0;
    width: 500px;
    height: 500px;
    cursor: pointer;
    border-radius: 6px;
    /* -webkit-box-sizing: border-box; */
}

.game_container div {
    float: left;
    margin: 14.5px 0 0 14.5px;
    height: 107px;
    width: 107px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    line-height: 2;
    font-size: 55px;
    font-weight: bold;
    background: rgba(238, 228, 218, 0.73);
}


/* 动画效果 */
@-webkit-keyframes 'numBlink' {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    50% {
        opacity: 0.9;
        -webkit-transform: scale(1.2);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes 'numAppear' {
    from {
        opacity: 0.6;
        -webkit-transform: scale(0.6);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}
/* 数字 */
.game_container .Num2 {
    background: #eee4da;
}
.game_container .Num2_Blink {
    background: #eee4da;
    -webkit-animation-name: numBlink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
}
.game_container .Num2_Appear {
    background: #eee4da;
    -webkit-animation-name: numAppear;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
}
.game_container .Num4 {
    background: #ede0c8;
}
.game_container .Num4_Blink {
    background: #ede0c8;
    -webkit-animation-name: numBlink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
}
.game_container .Num4_Appear {
    background: #ede0c8;
    -webkit-animation-name: numAppear;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
}
.game_container .Num8 {
    color: #f9f6f2;
    background: #f2b179;
}
.game_container .Num8_Blink {
    color: #f9f6f2;
    background: #f2b179;
    -webkit-animation-name: numBlink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
}
.game_container .Num8_Appear {
    color: #f9f6f2;
    background: #f2b179;
    -webkit-animation-name: numAppear;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
}
.game_container .Num16 {
    color: #f9f6f2;
    background: #f59563;
}
.game_container .Num16_Blink {
    color: #f9f6f2;
    background: #f59563;
    -webkit-animation-name: numBlink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
}
.game_container .Num16_Appear {
    color: #f9f6f2;
    background: #f59563;
    -webkit-animation-name: numAppear;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
}
.game_container .Num32 {
    color: #f9f6f2;
    background: #f67c5f;
}
.game_container .Num32_Blink {
    color: #f9f6f2;
    background: #f67c5f;
    -webkit-animation-name: numBlink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
}
.game_container .Num32_Appear {
    color: #f9f6f2;
    background: #f67c5f;
    -webkit-animation-name: numAppear;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
}
.game_container .Num64 {
    color: #f9f6f2;
    background: #f65e3b;
}
.game_container .Num64_Blink {
    color: #f9f6f2;
    background: #f65e3b;
    -webkit-animation-name: numBlink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
}
.game_container .Num64_Appear {
    color: #f9f6f2;
    background: #f65e3b;
    -webkit-animation-name: numAppear;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
}
.game_container .Num128 {
    color: #f9f6f2;
    background: #edcf72;
    font-size: 45px;
    line-height: 2.3;
}
.game_container .Num128_Blink {
    color: #f9f6f2;
    background: #edcf72;
    font-size: 45px;
    line-height: 2.3;
    -webkit-animation-name: numBlink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
}
.game_container .Num128_Appear {
    color: #f9f6f2;
    background: #edcf72;
    font-size: 45px;
    line-height: 2.3;
    -webkit-animation-name: numAppear;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
}
.game_container .Num256 {
    color: #f9f6f2;
    background: #edcc61;
    font-size: 45px;
    line-height: 2.3;
}
.game_container .Num256_Blink {
    color: #f9f6f2;
    background: #edcc61;
    font-size: 45px;
    line-height: 2.3;
    -webkit-animation-name: numBlink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
}
.game_container .Num256_Appear {
    color: #f9f6f2;
    background: #edcc61;
    font-size: 45px;
    line-height: 2.3;
    -webkit-animation-name: numAppear;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
}
.game_container .Num512 {
    color: #f9f6f2;
    background: #edc850;
    font-size: 45px;
    line-height: 2.3;
}
.game_container .Num512_Blink {
    color: #f9f6f2;
    background: #edc850;
    font-size: 45px;
    line-height: 2.3;
    -webkit-animation-name: numBlink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
}
.game_container .Num512_Appear {
    color: #f9f6f2;
    background: #edc850;
    font-size: 45px;
    line-height: 2.3;
    -webkit-animation-name: numAppear;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
}
.game_container .Num1024 {
    color: #f9f6f2;
    background: #edc53f;
    font-size: 35px;
    line-height: 2.9;
}
.game_container .Num1024_Blink {
    color: #f9f6f2;
    background: #edc53f;
    font-size: 35px;
    line-height: 2.9;
    -webkit-animation-name: numBlink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
}
.game_container .Num1024_Appear {
    color: #f9f6f2;
    background: #edc53f;
    font-size: 35px;
    line-height: 2.9;
    -webkit-animation-name: numAppear;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
}
.game_container .Num2048 {
    color: #f9f6f2;
    background: #edc22e;
    font-size: 35px;
    line-height: 2.9;
}
.game_container .Num2048_Blink {
    color: #f9f6f2;
    background: #edc22e;
    font-size: 35px;
    line-height: 2.9;
    -webkit-animation-name: numBlink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
}
.game_container .Num2048_Appear {
    color: #f9f6f2;
    background: #edc22e;
    font-size: 35px;
    line-height: 2.9;
    -webkit-animation-name: numAppear;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
}