/* 游戏说明 */
.game_info_left {
    float: left;
    line-height: 25px;
    font-weight: bold;
    font-size: 16px;
}
.game_restart {
    float: right;
    display: inline-block;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    font-size: 25px;
    font-weight: bold;
    color: #f9f6f2;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
}
.game_infor::after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (max-width: 520px) {
    .game_info_left {
        line-height: 25px;
        font-size: 16px;
    }
    .game_restart {
        float: left;
        margin-top:15px;
        padding: 0 15px;
        font-size: 16px;
        height: 25px;
        line-height: 25px;
    }
}
@media screen and (max-width: 400px) {   
    .game_info_left {
        line-height: 20px;
        font-size: 14px;
    }
    .game_restart {
        float: left;
        margin-top:10px;
        padding: 0 10px;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
    }
}