.workdetail-wrap{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    border:1px solid #ccc;
    font-size: 12px;
    padding:5px;
    padding-bottom: 0;
}
.workdetail-wrap div{
    margin-top:10px;
    margin-right: 5px;
}
img{
    margin-left:10px;
    margin-right:-10px;
    width:30px;
    height: 30px;;
    background: gray;
}