body {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
h2 {
  margin: 0;
}

/* 头部 */
.top{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: #000;
  color: #fff;
}
.top span{
  font-size:18px;
}
.top img{
  width:20px;
  height: 20px;
  margin-right: 15px;
}


/* 底部 */
.nav {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #eee;
}
.item {
  flex: 1;
  padding: 5px;
  text-align: center;
}
.icon {
  display: block;
  width: 30px;
  height: 30px;
  margin:0 auto;
}
.botname {
  font-size: 12px;
  color: #aaa;
}

/* 内容 */
.message {
  display: flex;
  padding: 10px;
  padding-left: 0;
  border-top: 1px solid #eee;
}

.message img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.content {
  flex: 1;
}
.name {
  height: 30px;
}
.title {
  float: left;
  font-size: 16px;
}
.time {
  float: right;
  font-size: 12px;
  color: #aaa;
}
.msg{
  height: 30px;
}
.recentMsg {
  float: left;
  font-size: 14px;
  color: #aaa;
  margin-top:5px; 
}
.button{
  float: right;
  width:50px;
  background: rgb(215, 228, 236);
  border:1px solid;
  text-align: center;
} 



.selectBtnCon {
  width: 40px;
}
.selectBtn {
  width: 20px;
  height: 20px;
  margin: 15px auto;
  border-radius: 50%;
}
.selected {
  background-color: #ff0000;
}
.noSelected {
  background-color: #eeeeee;
}

.multipleDeleteBtn {
  padding: 1px 10px;
  border: 1px solid #000000;
  margin: 10px auto 0;
  width: 35px;
}
