.slider-top{
    margin:40px;
}
p{
    font-size:18px;
    color:#000;
}
.slider{
    position: relative;
    height: 5px;
    margin:30px 80px 30px 30px;
    border:1px solid;
}
.bar{
    border:1px solid gray;
    background: gray;
    height: 5px;
    /* margin:30px 80px 30px 30px; */
}
.slider span{
    position: absolute;
    bottom: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border:1px solid;
}

input{
    margin:30px;
}

